  
  .nav-link {
    color: black; /* Color de los enlaces */
    font-weight:lighter;
    text-decoration: none;
  }
  

.imagen-animada {
  opacity: 0; /* Las imágenes están inicialmente ocultas */
  transform: translateY(20px); /* Aparecen desde abajo */
  transition: opacity 1s ease, transform 1s ease; /* Animación suave */
}

.imagen-animada.visible {
  opacity: 1; /* Aparecen completamente visibles */
  transform: translateY(0); /* Vuelven a su posición original */
}












body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.papers-section {
  display: flex;
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.column {
  padding: 20px;
}

.left {
  width: 30%;
  background: #0073e6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
}

.right {
  width: 70%;
}

.papers-list {
  list-style: none;
  padding: 0;
}

.papers-list li {
  margin-bottom: 20px;
  text-align: center;
}

.papers-list a {
  display: block;
  font-size: 18px;
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 5px;
}

.papers-list a:hover {
  text-decoration: underline;
}

.papers-list img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
